*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_sec {
    height:100vh; 
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    margin: 0 100px 0 100px; 
    display: flex;
    align-items: center;

}
#card {
    width: 100%;
    height: 100vh;

}
#card img{
    width: 100%;
    height: 100vh;  
    padding: 30px 100px 30px 100px ; 
    
}

.heading{
    
    position: absolute;
    margin: 150px;     
}
.heading h1{
    color: rgb(75, 49, 49);
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.heading h1:hover{
    border: none;
    text-shadow: 1px 1px 1px rgb(91, 67, 116);
    

}
.form{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 20px 0px;

}

input{
    padding: 12px;
    margin: 5px;
    border:none;
    border-radius: 15px;
    background: rgb(71, 15, 5);
    color: rgb(245, 231, 231);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#msg{
    padding: 10px;
    margin: 5px;
    border:none;
    border: 15px;
    border-radius: 15px;
    background: rgb(71, 15, 5);
    color: rgb(245, 231, 231);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
   
}


.button {
  position: relative;
  display: inline-block;
  padding: 20px;
  border-radius: 4px;
  color: #fcfafa;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 15px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  border-radius: 10px;
  transition: all 0.1s linear;
  text-align: center;
  background-color: rgb(94, 65, 65);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button:hover {
  border: 1px solid transparent;
  background-color: rgb(0, 0, 2);

}
.button:hover span {
  position: absolute;
  display: block;
}
.button:hover span:nth-child(1) {
  filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #3a86ff);
  animation: animate1 1s linear infinite;
}


@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.button:hover span:nth-child(2) {
  filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #3a86ff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.button:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #3a86ff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%, 100% {
    height: 2px;
    right: 100%;
  }
}
.button:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
